.debug header, .debug main{
    border: 4px solid fuchsia;
}

.debug nav, .debug section{
    border: 4px solid yellow;
}

.debug nav > .row{
    border: 4px solid violet;
}

.debug .col{
    border: 4px solid black;
}
